body {
  background-color: black;
}


.ifundo {
  background: url("../img/banner.jpg");
}

.esquerda {
  position: relative;
  left: 30vw;
}

.nave>li>a {
  border: 1px solid red;
  margin-left: 15px;
  padding: 10px;
  border-radius: 15px;
}

.margin {
  margin-top: 20px;
}

/* .navegacao > ul > li{
 list-style: none;
 display: inline-block;
 margin: 20px;
 right: -15vw;
 position: relative;

} */